body
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(46, 178, 239);
}

#calc
{
    background-color: #f7f3f3;
    width: 33%;
    height: 80vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgb(124, 129, 130);
}
.display #screen
{
    margin-top: 30px;
    width: 92%;
    height: 90px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5sem;
    background: rgb(178, 219, 250);
    border-radius: 6px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.buttons
{
    width: 100%;
    margin-top: 1.7mm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons .row button 
{
     width: 80px;
     height: 75px;
     font-size: 20px;
     font-weight: 700;
     border: none;
     outline: none;
     margin: 7px;
     background-color: rgb(241, 248, 254);
     border-radius: 6px;
    box-shadow: 2px 2px 5px rgb(137, 135, 135);
}

#enterbut
{
    width: 180px;
    background-color: rgb(95, 95, 232);
    color: #ffffff;
}

#but1
{
    background-color: rgb(168, 210, 249);
}
